#tweets-container {}

.main-container {
  border: 4px solid grey;
  margin: 2% 0 0 0;
}

.main-container:hover {
  font-weight: bold;
  box-shadow: 5px 5px lightslategrey;
}

.main-container:hover .at-handle {
  display: block;
  opacity: 0.3;
}

.error-text {
  border: 4px solid red;
  color: red;
  width: 100%;
  display: none;
  margin: 1% 0;
  line-height: 80px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.resize {
  height: 60px;
  width: 60px;
}

.username {
  display: flex;
  align-items: center;
}

.at-handle {
  display: none;
}

.tweet {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2%;
}

.border-bottom {
  border-bottom: 4px solid grey;
  width: 98%;
  margin: auto;
  padding: 1.3% 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.symbols {
  color: #4056A1;
  font-size: 18px;
}