.display {
  height: 500px;
  width: 100%;
  background-color: #00bdad;
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
  margin-bottom: 3%;
  padding: 6%;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.center {
  display: flex;
  justify-content: center;
}