/* Used to centre text like h2 */
.center {
  display: flex;
  justify-content: center;
}

/* The textarea where users write their tweets */
.tweet-area {
  background-color: #f4f1ec;
  border: 0px;
  font-weight: bold;
  width: 100%;
  background: none;
  resize: none;
  outline: none;
  /* font-family: "Source-Sans-Pro", "sans-serif" */
}

/* Border bottom for the tweets */
.border-bottom {
  border-bottom: 4px solid grey;
}

/* The Tweet Button CSS */
.tweet-button {
  background-color: #4056A1;
  font-family: 'Bungee', 'sans-serif';
  color: white;
  margin: 1% 0 0 0;
}

.counter {
  margin: 1% 0 0 0;
  float: right;
  font-weight: bold;
  font-family: 'Bungee', 'sans-serif';
}